.GetInTouch{
    .inputRounded .MuiOutlinedInput-root {
        border-radius: 30px;
    }
    
    .inputRounded {
        margin-bottom: 2vh !important;
        width: 100%;
    } 
}

.StepsContainer{
    .inputRounded .MuiOutlinedInput-root {
        border-radius: 30px;
    }
    
    .inputRounded {
        margin-bottom: 2vh !important;
        width: 100%;
    } 
}

.ProfileVerify{
    .inputRounded .MuiOutlinedInput-root {
        border-radius: 30px;
    }
    
    .inputRounded {
        margin-bottom: 2vh !important;
        width: 100%;
    } 
}

.BuyPopup{
    .inputRounded .MuiOutlinedInput-root {
        border-radius: 30px;
        margin-left: 15px;
    }
    
    .inputRounded {
        margin-bottom: 2vh !important;
        width: 100%;
    } 
}