.GetInTouch{
    .inputRounded .MuiOutlinedInput-root {
        border-radius: 30px;
    }
    
    .inputRounded {
        margin-bottom: 2vh !important;
        width: 100%;
    } 
}

.StepsContainer{
    .inputRounded .MuiOutlinedInput-root {
        border-radius: 30px;
    }
    
    .inputRounded {
        margin-bottom: 2vh !important;
        width: 100%;
    } 
}
