/* 
a:hover{
	text-decoration: none;
}
.form-control:focus,.btn:focus{
	border:none;
	box-shadow: none;
}
.m-show{
	display: none !important;
}
.subscribe_section{
	margin:35px;
	display: flex;
	justify-content: center;
	position: relative;
}
.subscribe_section img{
	
	object-fit: cover;
	object-position: bottom;
	max-width:1000px;
	width: 100%;
}
.subscribe_section_content{
	position: absolute;
	transform: none !important;
	left: -50px !important;
	padding: 0px !important;
    top:20% !important;
}
.subscribe_section_content h2{
	font-weight: 900;
	font-family: Tomica;
	font-size: 23px;
	line-height: 40px;
	text-align: center;
	color: #5E6282;
	margin-bottom: 25px;
}
.subscribe_section_content .input_group{
	display: flex;
	align-items: center;
	position: relative;
}
.subscribe_section_content input{
	padding: 10px;
	min-width: 0px !important;
	width: 300px;
	background: #FFFFFF;
	border-radius: 40px;
	border:1px solid black;
	padding-left: 56px;
	font-size: 16px;
	line-height: 16px;
	color: #39425D;
}
.subscribe_section_content input::placeholder{
	font-size: 16px;
	font-family: Tomica;
	line-height: 16px;
	color: #39425D;
}
.subscribe_section_content .email-icon{
	position: absolute;
	left:25px;
	bottom: 13px !important;
}
.subscribe_btn{
	margin-left: 20px;
    background: #00FF47;
    border-radius: 100px;
    border: 1px solid black;
    font-weight: bold;
	font-size: 15px;
	line-height: 15px;
	color: black;
	min-width: 135px;
	width: 135px;
    font-family: Tomica;
	text-align: center;
	padding: 10px 0px;
}

@media (max-width: 768px){
	.m-hide{
		display: none !important;
	}
	.m-show{
		display: block !important;
	}
	.subscribe_section_content h2{
		font-size: 20px;
		padding: 0px 50px;
	}
	.subscribe_section_content input{
		padding-top: 15px;
		padding-bottom:15px; 
		min-width: 310px;
	}
	.subscribe_btn{
		padding: 18px 0px;
		min-width: 120px;
	}
	.subscribe_section_content{
		
		padding: unset;
	}
}
@media (max-width: 576px){
	.subscribe_section_content h2{
		font-weight: bold;
		font-size: 16px;
		line-height: 20px;
		padding: 0px 20px;
	}
	.subscribe_section_content input{
		padding-top: 9px;
		padding-bottom: 9px;
	}
	.subscribe_btn{
		margin-left: 5px;
		font-size: 12px;
		line-height: 12px;
		min-width: 98px;
		padding: 12px 0px;
	}
	.subscribe_section_content .email-icon{
		bottom: 0px !important;
	}
}
@media (max-width: 475px){
		.subscribe_section_content input::placeholder,.subscribe_section_content input{
		font-size: 12px;
		line-height: 12px;
	}
	.subscribe_section_content h2{
		font-size: 13px;
		line-height: 18px;
	}
	
}
@media (max-width: 375px){
	.subscribe_section{
		margin: 20px;
	}

	.subscribe_section_content input {
		min-width: 150px;
	}
	.subscribe_btn{
		min-width: 90px;
	}
}
@media (max-width: 320px){
	.subscribe_section{
		margin: 10px;
	}
}
 */
