@font-face {
  font-family: "TomicaBlack";
  src: local("Tomica"),
    url("./fonts/tomica-black-webfont.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "TomicaBlack2";
  src: local("Tomica"),
    url("./fonts/tomica-black-webfont.woff2") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "TomicaBold";
  src: local("Tomica"),
    url("./fonts/tomica-bold-webfont.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "TomicaBold2";
  src: local("Tomica"),
    url("./fonts/tomica-bold-webfont.woff2") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "TomicaLight";
  src: local("Tomica"),
    url("./fonts/tomica-light-webfont.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "TomicaLight2";
  src: local("Tomica"),
    url("./fonts/tomica-light-webfont.woff2") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "TomicaThin";
  src: local("Tomica"),
    url("./fonts/tomica-thin-webfont.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "TomicaThin2";
  src: local("Tomica"),
    url("./fonts/tomica-thin-webfont.woff2") format("woff");
  font-weight: normal;
}@font-face {
  font-family: "Tomica";
  src: local("Tomica"),
    url("./fonts/tomica-webfont.woff") format("woff");
  font-weight: normal;
}@font-face {
  font-family: "Tomica2";
  src: local("Tomica"),
    url("./fonts/tomica-webfont.woff") format("wof2");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: 'Circular Std', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Tomica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profileInfo tr td {
  padding: 10px 60px 10px 0px;
  font-weight: 700; 
  font-size: 15px;
}

.linkTable tr td {
  padding: 5px 60px 0px 0px;
  /* font-weight: 700;  */
  font-size: 13px;
}

.categoryInfo tr td {
  padding: 10px 80px 10px 0px;
  font-weight: 600; 
  color: black;
}

.categoryInfo {
  margin-left: 6vh;
}


@media screen and (max-width: 768px) {
 .profileImage1{
    width: 100px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}
input:-webkit-autofill
{
 -webkit-text-fill-color:black !important;
}

*{
  text-transform: none;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00FF47; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}